.post-feed {
    padding: 75px 250px;
}

.post-card {
    background-color: rgb(194, 239, 232);
    border: 5px solid rgb(182, 191, 50);
    margin-bottom: 75px;
}

.profile-page {
    padding: 75px;
    max-width: 600px;
    margin: auto;
}